* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    margin: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.5rem;
    background-color: whitesmoke;
}
nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-position: none;
}

li {
    border-top: 1px solid #333;
}
li a {
    display: block;
}
li a,
li a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover,
li a:focus {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}

section{
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
}
main section {
    text-align: left;
}
main ul {
    list-style-type: square;
    list-style-position: inside;
}
mark {
    border-radius: 4px;
}